<style>
h3 {
    color: green;
    font-size: 2em;
    
}
h1 {
    color: green;
    font-size: 3em;
}
body {
    background-color: black;
    font-size: 15px;
}
#menu{
    background-color: green
}

.list-style {
    font-family: monospace, Helvetica, sans-serif;
    line-height: 1;
}

#resumo {
    font-family: monospace, Helvetica, sans-serif;
    line-height: 1;

}

p {
    color: aqua;
    font-family: Helvetica, sans-serif;
}

li {
    color: aqua;
}
<style>